*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-decoration:none;
  background: transparent;
  font-family: 'Poppins', 'Roboto', sans-serif;
}

body {
  background: rgb(30, 30, 30);
  color:white;
  overflow: hidden ;
  overflow-y: scroll;
}

/* Masquer la barre de défilement standard */
::-webkit-scrollbar {
  width: 0.5em;
}

/* Barre de défilement personnalisée */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}